/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;

}

.dashed {
  border:1px dashed #000;
}

/* End for testing */

.container {
  height: 100vh;
}

.heading {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.heading-bar {
  height: 30%;
}

.three-bar {
  float: left;
  height: 50%;
  width: 30px;
  margin-top: 12px;
  margin-left: 10px;
}

.think {
  float: left;
  height: 50%;
  width: 200px;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}

.think-text {
  margin-top: 0;
  margin-right: 3px;
  padding: 0;
  color: grey;
  font-size: 25px;

}

.google {
  float: left;
  padding: 0;
  width: 45%;
}

.magnifying-glass {
  float: right;
  height: 50%;
  width: 40px;
  margin-top: 15px;
  margin-right: 10px;
}

.bigbox {
  height: 300px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.content-img {
  /*display: ;*/
  width: 150px;;
  height: 100%;
}

.content-text {
  padding-left: 5px;
  /*display: inline;*/

}

.content-text-title {
  font-size: 20px;
  margin: 0;
}

.content-text-date {
  color: grey;
}

#row-2 {
  .margin-bottom: 20px;
}

.deeper-dive {
  margin-bottom: 20px;
}

.marketing-resources {
  display: flex;
  flex-direction: column;
}

.marketing-resources {
  margin-bottom: 10px;
}

.advertising-channels {
  margin-bottom: 10px;
}

.consumer-insights {
  margin-bottom: 10px;
}

.content-2 {
  height: 100px;
  margin-bottom: 10px;
}

.footer-title {
  margin: 20px, 0, 20px, 0;
}

.input {
  display: flex;
  flex-direction: column;
}

.bottom-footer {
  margin-top: 20px;
}

@media screen and (min-width:601px) and (max-width:1000px) {

  .content {
    flex-direction: column;
    width: 10vw;
    height:300px;
    flex-grow: 2;
  }

  .content-img {
    width: 100%;
  }

  .content-text {
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .big-one {
    width: 100vw;
  }

  /*.row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }*/

  .big-two {
    width: 100vw;
  }

  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: space-around;*/
  }

  .content-2 {

    width: 45vw;
    height:300px;
    /*flex-grow: 2;*/
  }

  .flex-box-2 {
    display: flex;
    flex-wrap: wrap;
  }
.footer-back {
  width: 100vw;

}

  .footer {
    width: 70%;
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width:1001px) {
  .row {
    display: flex;
    justify-content: space-around;
  }

  .bigbox {
    width: 50%;
  }

  .content {
    width: 20%;
    height: 300px;
    flex-direction: column;
  }

  .content-img {
    width: 100%;
  }

  .content-text {
    text-align: center;
  }

  .flex-box-2 {
    display: flex;
    justify-content: space-around;
  }

  .content-3 {
    height: 200px;
  }

  .flex-box {
    display: flex;
    justify-content: space-around;
  }

  .content-2 {
    width: 20%;
    height: 300px;
  }

  .footer-title {
    float: left;
    width: 50%;
  }

  .input {
    float: right;
    width: 50%;
  }

  .bottom-footer {
    clear: both;
  }
}
