/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;

}

.dashed {
  border:1px dashed #000;
}

/* End for testing */

.container {
  height: 100vh;
}

.heading {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.heading-bar {
  height: 30%;
}

.three-bar {
  float: left;
  height: 50%;
  width: 30px;
  margin-left: 10px;
}

.think {
  float: left;
  height: 50%;
  width: 200px;
  margin-left: 10px;
}

.magnifying-glass {
  float: right;
  height: 50%;
  width: 30px;
  margin-right: 10px;
}

.guest-editor {
  height: 300px;
  margin-bottom: 10px;
}

.content {
  
}
